<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Usuarios</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/dashboard_styles.css">

</head>

<body>
    <header>
        <h1>Gestión de Usuarios</h1>
        <nav>
            <a href="dashboard_productos.html">Gestión de Productos</a>
            <a href="../index.html">Cerrar Sesión</a>
        </nav>
    </header>

    <main>
        <div class="container">
            <button class="add-product-btn" id="addUserBtn">Añadir Usuario</button>
            <table class="product-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre de Usuario</th>
                        <th>Email</th>
                        <th>Fecha Nacimiento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="user-list">

                </tbody>
            </table>
        </div>
    </main>


    <!-- Modal para editar usuarios -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editModal')">&times;</span>
            <h2>Editar Usuario</h2>
            <form id="editForm">

                <input type="hidden" id="userId" name="userId">

                <label for="nombreUsuario">Nombre de Usuario:</label>
                <input type="text" id="nombreUsuario" name="nombreUsuario" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>

                <button type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>

    <!-- Modal de añadir usuario -->
    <div id="addModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addModal')">&times;</span>
            <h2>Añadir Usuario</h2>
            <form id="addForm">

                <label for="nombreUsuarioAdd">Nombre de Usuario:</label>
                <input type="text" id="nombreUsuarioAdd" name="nombreUsuarioAdd" required>

                <label for="contraeñaAdd">Contraseña:</label>
                <input type="password" id="passwordAdd" name="passwordAdd" required>

                <label for="rolAdd">Rol:</label>
                <select id="rolAdd" name="rolAdd" required>
                    <option value="admin">Admin</option>
                    <option value="cliente">Cliente</option>
                </select>

                <label for="emailAdd">Email:</label>
                <input type="email" id="emailAdd" name="emailAdd" required>

                <label for="fechaNacimientoAdd">Fecha de Nacimiento:</label>
                <input type="date" id="fechaNacimientoAdd" name="fechaNacimientoAdd" required>

                <button type="submit">Agregar Usuario</button>
            </form>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 - Proyecto TEAM3</p>
    </footer>

    <script src="../js/user_dashboard.js"></script>

</body>

</html>