<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Productos</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/dashboard_styles.css">
</head>

<body>
    <header>
        <h1>Gestión de Productos</h1>
        <nav>
            <a href="dashboard_usuarios.html">Gestión de Usuarios</a>
            <a href="../index.html">Cerrar Sesión</a>
        </nav>
    </header>

    <main>
        <div class="container">
            <button class="add-product-btn" id="addProductBtn">Añadir producto</button>
            <table class="product-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="product-list">

                </tbody>
            </table>
        </div>
    </main>

    <!-- Modal de editar producto -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editModal')">&times;</span>
            <h2>Editar Producto</h2>
            <form id="editForm">
                <input type="hidden" id="productId">
                <label for="nombreProducto">Nombre:</label>
                <input type="text" id="nombreProducto" required><br>
                <label for="tipoProducto">Tipo:</label>
                <input type="text" id="tipoProducto" required><br>
                <label for="precioProducto">Precio:</label>
                <input type="number" id="precioProducto" step="0.01" required><br>
                <label for="descripcionProducto">Descripción:</label>
                <textarea id="descripcionProducto" required></textarea><br>
                <label for="imagenProducto">Imagen Actual:</label><br>
                <img id="imagenProducto" src="../img/no-image.png" alt="Imagen del Producto"
                    style="max-width: 100px; height: auto;"><br>
                <label for="nuevaImagenProducto">Subir Nueva Imagen:</label>
                <input type="file" id="nuevaImagenProducto"><br>
                <button type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>


    <!-- Modal para añadir productos -->
    <div id="addModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addModal')">&times;</span>
            <h2>Añadir producto</h2>
            <form id="addForm">
                <label for="nuevoNombreProducto">Nombre del producto:</label>
                <input type="text" id="nuevoNombreProducto" name="nuevoNombreProducto" required>
            
                <label for="nuevoTipoProducto">Tipo:</label>
                <input type="text" id="nuevoTipoProducto" name="nuevoTipoProducto" required>
            
                <label for="nuevoPrecioProducto">Precio:</label>
                <input type="number" id="nuevoPrecioProducto" name="nuevoPrecioProducto" required>
            
                <label for="nuevaDescripcionProducto">Descripción:</label>
                <textarea id="nuevaDescripcionProducto" name="nuevaDescripcionProducto" required></textarea>
                
                <label for="nuevaImagenProducto">Imagen:</label>
                <input type="file" id="nuevaImagenProducto" name="nuevaImagenProducto" required>
            
                <button type="submit">Añadir Producto</button>
            </form>
        </div>
    </div>

    <footer>
        &copy; 2024 - Proyecto TEAM3
    </footer>

    <script src="../js/product_dashboard.js"></script>
</body>

</html>