main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-form {
    max-width: 400px;
    width: 100%;
    padding: 20px; 
    background-color: #f2f2f2; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center; 
    margin-bottom: 20px; 
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form label {
    display: block; 
    margin-bottom: 10px; 
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

.login-form button {
    width: 100%; 
    padding: 10px; 
    background-color: #007bff;
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.login-form button:hover {
    background-color: #0056b3; 
}

.login-form .register-link {
    text-align: center;
    margin-top: 10px;
}

.login-form .register-link a {
    color: #007bff;
}

.login-form .register-link a:hover {
    text-decoration: underline;
}

.back-btn {
    display: block; 
    margin-top: 20px; 
    text-decoration: none;
    background-color: #007bff; 
    color: #fff;
    padding: 10px 20px; 
    border-radius: 5px;
    text-align: center;
}

.back-btn:hover {
    background-color: #0056b3; 
}

