body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/paralax.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    text-align: center;
    margin: 0;
}

.login-btn {
    margin-right: 100px; 
    margin-left: 100px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover {
    background-color: #fff;
    color: #333;
}

.logo {
    font-size: 24px;
}

.logo img {
    max-width: 120px; 
}


nav a {
    color: #fff;
    text-decoration: none; 
    margin-left: 20px;
    transition: color 0.3s; 
}

nav a:hover {
    color: #ffa500; 
}

.title {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 25%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}

.product-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.product-card img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.logo img {
    width: 100px; 
    height: auto;
    margin-right: 20px; 
    border-radius: 50px;
}

.google-map {
    width: 100%; 
}

.footer-text {
    flex: 1; 
    text-align: center; 
}

.footer-links {
    margin-left: auto; 
    margin-right: 50px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.footer-links a:hover {
    color: #ffa500;
}

/****************************************** ESTILOS PARA EL FORMULARIO DE CONTACTO *******************************/

/* Estilos para el formulario de contacto */
.contact-section {
    padding: 20px;
    background-color: #f9f9f9;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-section label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-section textarea {
    height: 150px;
}

.contact-section button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #0056b3;
}


