/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    text-align: center; /* Centrar el texto */
    margin: 0; /* Eliminar el margen superior e inferior predeterminado */
}

.login-btn {
    margin-right: 100px; /* Agregar margen derecho al botón */
    margin-left: 100px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover {
    background-color: #fff;
    color: #333;
}

.logo {
    font-size: 24px;
}

.logo img {
    max-width: 120px; /* Ajusta el ancho máximo según sea necesario */
}


nav a {
    color: #fff;
    text-decoration: none; /* Eliminar el subrayado */
    margin-left: 20px;
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

nav a:hover {
    color: #ffa500; /* Cambiar el color al pasar el cursor sobre el enlace */
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 25%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}

.product-card:hover {
    transform: translateY(-5px); /* Desplaza la tarjeta hacia arriba en el eje Y */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
}

.product-card img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
